* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0c2e8a;
    --lighr-green: #50d8af;
    --brown: #555;
    --Montserrat: "Montserrat", serif;
    --Raleway: "Raleway", sans-serif;
}

ul li {
    list-style-type: none;
}

/* NAVBAT START */

.navbar-brand {
    font-size: 42px !important;
    font-family: var(--Montserrat);
    color: var(--dark-blue) !important;
}

.navbar-brand span {
    color: var(--lighr-green);
}

.navbar-nav {
    width: 650px !important;
    font-family: var(--Raleway);
    font-size: 15px;
}

.home {
    color: var(--lighr-green) !important;
}

.nav-col {
    color: var(--brown) !important;
    transition: all 5s;
    cursor: pointer;

    &:hover {
        color: var(--lighr-green) !important;
    }
}

.nav-item {
    position: relative;
}

.nav-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

/* NAVBAR END */

/* HERO SECTION START */
.hero_section {
    width: 100%;
    height: 450px;
    background-image: url(../imges/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--Montserrat);
}

.content h2 {
    color: var(--dark-blue);
    font-size: 64px;
}

.content span {
    color: var(--lighr-green);
    text-decoration: underline;
}

.cont button {
    width: 160px;
    height: 45px;
    background-color: var(--dark-blue);
    margin: 10px;
    font-family: var(--Raleway);
    border: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.cont button:first-child:hover {
    color: var(--dark-blue);
    background: none;
    border: 2px solid var(--dark-blue);
}

.cont button:last-child {
    background-color: var(--lighr-green);
}

.cont button:last-child:hover {
    color: var(--lighr-green);
    background: none;
    border: 2px solid var(--lighr-green);
}

/* HERO SECTION END */

/* ABOUT SECTION START */
.para h2 {
    font-size: 36px;
    font-family: var(--Raleway);
    color: var(--dark-blue);
}

.para h3 {
    color: #555;
    font-family: var(--Montserrat);
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

.list li {
    padding-bottom: 10px;
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

/*  ABOUT SECTION END */

/* SERVICE SECTION START */
.section_header h2 {
    color: var(--dark-blue);
    font-size: 35px;
    letter-spacing: 2px;
    position: relative;
}

.section_header h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: var(--lighr-green);
    bottom: -15px;
    left: 0;
    border-radius: 2px;
}

.section_header p {
    font-weight: 400;
    font-size: 17px;
    color: rgb(68, 68, 68);
}

.box {
    padding: 20px 40px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
    background: #fff;
    transition: all 0.4s linear;
}

.box:hover {
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    transform: translateY(-10px);
}

.image {
    width: 100px !important;
    color: #444;
    font-size: 64px;
    transition: 0.5s;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.image img {
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #555;
}

.card-text {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 24px;
}

/* SERVICE SECTION END */

/* OUR PROTFOLIO SECTION START */
.items {
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
}

.item-1 {
    width: 100%;
    height: 279px;
    overflow: hidden;
}

.items::before {
    content: attr(data-title);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.items:hover::before {
    background: rgba(0, 0, 0, 0.7);
}

.items:hover {
    transform: scale(1.2);
}

/* OUR PROTFOLIO SECTION END */

/* Call to Action Section Start */
.call {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #081e5b;
    border: 2px solid;
}

.text-container {
    margin-bottom: 20px;
}

.btn-call-to-action {
    font-family: var(--Montserrat);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 26px;
    border-radius: 3px;
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    transition: all 0.5s;
}

.btn-call-to-action:hover {
    background-color: var(--lighr-green);
    border-color: var(--lighr-green);
}

/* Call to Action Section End */

/* OUR TEAM SECTION START */
.team .member .pic img {
    max-width: 100%;
}

.deatails {
    background: #50d8af;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 3px 3px;
}

.deatails h4 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: var(--Montserrat);
}

.deatails span {
    font-style: italic;
    font-size: 13px;
}

/* OUR TEAM SECTION END */

/* CONTACT US SECTION START */
.contact_container {
    width: 100%;
    height: 100%;
    border-right: 1px solid #999;
}

#contact_icon {
    font-size: 40px;
    color: var(--lighr-green);
    margin-bottom: 10px;
}

.icons h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #999;
}

.icons address {
    font-size: 16px;
    color: #555;
    transition: all 0.5s ease;
}

.icons address:hover {
    color: var(--lighr-green);
}

/* CONTACT US SECTION ENDS */

/* FOOTER SECTION START */
#footer {
    background-color: #f2f5f8;
    color: #555;
    font-family: Arial, sans-serif;
}

#footer .container {
    font-size: 14px;
}

/* FOOTER SECTION END */